@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

.h-menuScreen {
  height: calc(100vh - 1.75rem);
}
@keyframes fadeInNext {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInPrevius {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }

}

#root{
  min-width: 22rem;
}

.fadeInNext {
  animation: fadeInNext ease-in-out 1s both;
}

.fadeInPrevius {
  animation: fadeInPrevius ease-in-out 1s both;
}

.bg-yellow-green-clip {
  background: linear-gradient(to right, #fee161 30%, #3b5e48 30%);
  background-size: 100% 100%;
  background-clip: content-box;
}